{% extends "main.html" %}
{% block content %}
<div class="col-2">
  <header>
      <div class="row top-menu">
					<div class="col-md-6">
						<a href="{{url_for('showCatalogs')}}">
							<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show All Catalogs
						</a>
					</div>
					<div class="col-md-6 text-right">
						{%if 'username' not in session %}
				<a href="{{url_for('showLogin')}}">Click Here to Login </a>
				{% else %}
				<a href="{{url_for('gdisconnect')}}">Logout </a>
				{% endif %}
				
				</div>
				</div>
        Catalog MenuApp
  </header>
  <main class="content">
    <article>
        <h3>All {{ catalog.name }} Items</h3>
        {% for cat in catalogItem %}
            <h3>Title:</h3>
            <p>{{ cat.title }}</p>
            <h3>Description:</h3>
            <p>{{ cat.description }}</p>
            <br>
        {% endfor %}
    </article>
</main>
</div>
{% endblock %}